<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>660529372265-3afneuj34cfj6gdptv969o2u1hraj2ms.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.660529372265-3afneuj34cfj6gdptv969o2u1hraj2ms</string>
	<key>API_KEY</key>
	<string>AIzaSyA-ZuXVlvCKmGHxuiuyBaDrxCSuZ8SwVfk</string>
	<key>GCM_SENDER_ID</key>
	<string>660529372265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>FD.F12025-iOS</string>
	<key>PROJECT_ID</key>
	<string>f1-2025-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>f1-2025-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:660529372265:ios:25a40f0eaf0fd723db96f8</string>
</dict>
</plist>