<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Ferrari-Outline.ttf</string>
		<string>Alpine - Bold.ttf</string>
		<string>Audi-BoldItalic.ttf</string>
		<string>Haas-superitalic.ttf</string>
		<string>RedBull-Black.ttf</string>
		<string>Williams-Hollow.ttf</string>
		<string>Mercedes-Bold.ttf</string>
		<string>Aston Martin-Regular.ttf</string>
		<string>HugoBoss-Regular.ttf</string>
		<string>McLaren-SemiBold.ttf</string>
		<string>Formula1-Bold_web_0.ttf</string>
		<string>Formula1-Regular_web_0.ttf</string>
		<string>Formula1-Wide_web_0.ttf</string>
	</array>
</dict>
</plist>
